@{
    ViewBag.titulo = "Acerca de";
    Layout = "~/Views/Shared/_Layout_principal.cshtml";
}
<a asp-controller="AcercaDe" asp-action="Ejemplo1">Vamos al ejemplo1</a>
         | <a asp-controller="AcercaDe" asp-action="Ejemplo2">Vamos al ejemplo 2</a>
    
<br/>


@RenderBody()