@{
    ViewBag.titulo = "Contactos";
    Layout = "~/Views/Shared/_Layout_principal.cshtml";
}
<a asp-controller="Contactos" asp-action="Ejemplo1">Vamos al ejemplo1 Contacto</a>
         | <a asp-controller="Contactos" asp-action="Ejemplo2">Vamos al ejemplo 2 Contacto</a>

<br />


@RenderBody()