@{
    ViewBag.titulo = "Noticias";
    Layout = "~/Views/Shared/_Layout_principal.cshtml";
}
<a asp-controller="Noticias" asp-action="Ejemplo1">Vamos al ejemplo1 Noticias</a>
         | <a asp-controller="Noticias" asp-action="Ejemplo2">Vamos al ejemplo 2 Noticias</a>

<br />


@RenderBody()