@{
    Layout = "~/Views/Shared/_MiLayout_simple.cshtml";
}

@section head {
    <link href="~/css/estilo.css" rel="stylesheet" type="text/css"/>
}

    <h1>Prueba seccion desde LayoutController</h1>
    <p class="elemento">Este párrafo debería de estar con un color raro</p>
    <br/>
    <h2 class="elemento">Segundo intento</h2>
