@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h3>Datos de un empleado</h3>
Nombre del empleado: @ViewBag.emp
<br/>
Telefono: @ViewBag.tel