@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Vista index de Route</h1>
<a asp-controller="route" asp-action="obt">Ir al método acción Obtener</a>
<br/>
<a asp-controller="Home" asp-action="Index">Inicio</a>